.taticItem {
  margin: 1.5em 1em;
  // flex: 1;
 .taticInfo {
    position: relative;
    padding: 1em;
    margin: 0 auto;
    border: 2px dashed brown;
    width: 300px;
    margin: 0 auto;
    h4 {
      margin: .5em 0;
    }
    p {
      margin-bottom: .2em;
      text-align: center;
    }
    .label {
      text-align: left;
    }
  }
 .actionWrap {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%,-50%);
  z-index: 1;
  }

}