.taskWrap {
  background: #2b3f6b;
  padding-top: 2em;
  min-height: 100vh;
  .listTask {
    width: 60%;
    margin: 0 auto;
    padding: 1em;

  }
  .taskItem {
    display: flex;
    padding: 1em;
    justify-content: space-between;
    align-items: baseline;
    background: #fff;
    margin: 1em 0;
    border-radius: 1em;
    transition: all .5s ease;
    &.isDone {
      background: #3986D2;
      color: #fff;
      transition: all .5s ease;
    }
  }
}