.diaryWrap {
  width: 60%;
  margin: 0 auto;
  padding: 1em;
  background: #4e4a4a;
  color: #fff;
  border-radius: 20px;
  font-size: 1.1em;
  // text-align: center;
}
.btnWrap {
  position: fixed;
  bottom: 1em;
  right: 1em;
}