.itemWrap {
  padding: 1em;
  margin: 1.5em 0;
  position: relative;
  border: 1px dashed #686868;
  transition: all .5s ease;
  cursor: pointer;
  p {
    margin: 0;
    text-align: left;
    font-style: italic;
    font-size: 1.2em;
  }
  .actionWrap {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%)
  }
  // &:hover {
  //   background: #2185D0;
  //   color: #fff;
  // }
  .loadingWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.completed {
  background: rgb(63, 230, 63);
}