.objectiveItem {
   min-width: 20%;
   margin: 0 1em;
  .generalInfo {
    padding: 1em;
    margin: 0 auto;
    text-align: center;
    border: 1px dashed purple;
    max-width: 200px;
    margin: 0 auto;
  }
  .strategiesWrap {
    display: flex;
    align-items: flex-start;
    margin-top: 2em;
    justify-content: center;
  }
}