#objectiveItem {
   flex: 0 0 auto;
   margin:  1em;
  .generalInfo {
    position: relative;
    padding: 1em;
    margin: 0 auto;
    border: 2px dashed rgb(121, 22, 121);
    width: 300px;
    margin: 0 auto;
    h4 {
      margin: .5em 0;
    }
    p {
      margin-bottom: .2em;
      text-align: center;
    }
    .label {
      text-align: left;
    }
  }
  .actionWrap {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%,-50%);
    z-index: 1;

  }
  .strategiesWrap {
    display: flex;
    align-items: flex-start;
    margin-top: 2em;
    justify-content: center;
    flex: 1;
    overflow: auto;
  }
}