.infoWrap {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 100px);
  .generalInfo {
    width: 20%;
    text-align: center;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 3px 0 0 rgba(66, 64, 64, 0.5);
    background: #2185D0;
    color: #fff;
  }
  .objectivesWrap {
    flex: 1;
    overflow: auto;
    margin-top: 2em;
    padding: 2em;
  }
  .objectivesBox {
    display: flex;
    flex: 1;
  }
}