#objectiveWrap {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 100px);
  .InfoWrap {
    width: 20%;
    padding: 1em;
    box-shadow: 3px 0 0 rgba(41, 1, 37, 0.5);
    border: 2px solid rgba(44, 2, 38, 0.3);
    background-color: rgba(243, 237, 241, 0.1);
    .actionWrap {
      display: flex;
      justify-content: space-between;
    }
    .item {
      margin-top: 5em;
    }
  }
  .strategiesWrap {
    flex: 1;
    overflow: auto;
    padding: 1.5em;
  }
  .strategiesBox {
    display: flex;
    flex: 1;
  }
}