.bookWrap {
  width: 60%;
  margin: 0 auto;
  .infoWrap {

  }
  .title {
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: .2em;
  }
  .subTitle {
    font-size: 1.2em;
    font-style: italic;
  }
  .reviewWrap {
    margin-top: 2em;
  }
  .review {
    margin-top: 2em;
    padding: 1em;
    background: #0b3061;
    border-radius: 1em;
    color: #fff;
    font-size: 1.1em;
  }
  pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }
}