.strategyItem {
  margin: 0 1em;
  flex: 1;
 .strategyInfo {
   padding: 1em;
   margin: 0 auto;
   text-align: center;
   border: 1px dashed rgb(119, 151, 238);
   width: 200px;
 }
 .taticsWrap {
   display: flex;
   margin-top: 2em;
   flex: 1;
   overflow: auto;
   align-items: center;
   justify-content: center;
 }

}